<h2 mat-dialog-title>Editar Aluno</h2>
<mat-dialog-content>
  <form class="dialog-form">
    <app-input class="full-width" label="Nome do Aluno" [type]="'text'" placeholder="Nome completo" [value]="alunoNome" (valueChange)="alunoNome = $event"></app-input>

    <app-input class="full-width" label="Email" [type]="'email'" placeholder="email@exemplo.com" [value]="email" (valueChange)="email = $event"></app-input>

    <app-input class="full-width" label="Matrícula" [type]="'text'" placeholder="Número da matrícula" [value]="matricula" (valueChange)="matricula = $event"></app-input>

    <div class="row-2">
      <app-input class="flex-1" label="Curso" [type]="'text'" placeholder="Nome do curso" [value]="curso" (valueChange)="curso = $event"></app-input>
      <app-input class="flex-1" label="Semestre" [type]="'text'" placeholder="Ex: 3º" [value]="semestre" (valueChange)="semestre = $event"></app-input>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
