.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  padding: 10px;
  margin: 10px;

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 1px var(--secondary-color-strong);
    background-color: var(--secondary-color);
    color: white;
    height: 100%;
    width: 100%;
    cursor: pointer;
    &:hover{
      background-color: var(--secondary-color-light);
    }
  }
}
.button-agendamento{
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  &:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.button-editar{
   background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  &:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.button-info{
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  &:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
