@if(button === "Login" || (button === "login") || (button === "Registrar") || (button === "registrar") || (button === "Enviar") || (button === "enviar") || (button === "Aceitar") || (button === "aceitar")){
<div class="button-container">
  <button class="button" (click)="clicked.emit()" [disabled]="disabled">{{button}}</button>
</div>
}
@if(button === "Agendamento" || (button === "agendamento")){
  <button class="button-agendamento" (click)="clicked.emit()"><span class="material-symbols-outlined">
person</span>
  </button>
}
@if(button === "editar" || (button === "Editar")){
    <button class="button-editar" (click)="clicked.emit()">
<span class="material-symbols-outlined">
edit
</span>
</button>
}
@if(button === "Info" || button === "info"){
  <button class="button-info" (click)="clicked.emit()">
    <span class="material-symbols-outlined">info</span>
  </button>
}
@if(button === "Salvar" || button === "salvar"){
<div class="button-container">
  <button class="button" (click)="clicked.emit()" [disabled]="disabled">{{button}}</button>
</div>
}
@if(button === "Agendar" || button === "agendar" ){
<div class="button-container">
  <button class="button" (click)="clicked.emit()" [disabled]="disabled">{{button}}</button>
</div>
}
@if(button === "Cancelar" || button === "cancelar"){
<div class="button-container">
  <button class="button cancelar" (click)="clicked.emit()" [disabled]="disabled">{{button}}</button>
</div>
}
@if(button === "Atualizar" || button === "atualizar"){
<div class="button-container">
  <button class="button" (click)="clicked.emit()" [disabled]="disabled">{{button}}</button>
</div>
}
@if(button === "Excluir" || button === "excluir"){
  <button class="button-excluir" (click)="clicked.emit()">
    <span class="material-symbols-outlined">close</span>
  </button>
}
