<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
    @if (passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')) {
      <mat-error></mat-error>
    }
    @if (passwordFormControl.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form>
