<header class="layout-default-header">
  <img class="layout-defaul-logo" src="logo/Logo.png" alt="logoUnirv">
  <div class="user-menu-container">
    <img class="layout-defaul-photo" (click)="toggleMenu()" src="img/Ellipse.png" alt="fotousuario">
    @if(isMenuOpen){
    <app-menu/>
    }
  </div>
</header>
<nav class="layout-defaul-nav">
  <ul class="layout-defaul-list">
    <li><a routerLink="/">Agendar</a></li>
    <li><a routerLink="/agendamentos">Calendários</a></li>
    <li><a routerLink="/relatorio">Relatórios</a></li>
  </ul>
</nav>
<div class="layout-default-contain">
  <router-outlet />
</div>
