<header class="layout-default-header">
  <img class="layout-defaul-logo"
       src="logo/Logo.png"
       alt="logoUnirv">
  <div class="user-menu-container">
    <img class="layout-defaul-photo"
         (click)="toggleMenu()"
         src="img/empty.jpg"
         alt="fotousuario">
    <app-menu *ngIf="isMenuOpen"
              (menuItemClicked)="onMenuItemClicked()"></app-menu>
  </div>
</header>
<nav class="layout-defaul-nav">
  <ul class="layout-defaul-list">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Agendar</a></li>
    <li><a routerLink="/agendamentos" routerLinkActive="active">Calendários</a></li>
    <li *ngIf="!isAluno() && isAdmin()"><a routerLink="/relatorio" routerLinkActive="active">Relatórios</a></li>
    <li *ngIf="!isAluno() && isPsicologo()"><a routerLink="/anotacoes" routerLinkActive="active">Anotações</a></li>
  </ul>
</nav>
<div class="layout-default-contain">
  <router-outlet />
</div>
