<div class="login-container">
  <app-input label="Email"
             type="email"
             [value]="loginData.email"
             (valueChange)="loginData.email = $event"
             name="email"
             required>
  </app-input>

  <app-input label="Senha"
             type="password"
             [value]="loginData.senha"
             (valueChange)="loginData.senha = $event"
             name="senha"
             required>
  </app-input>

  @if (errorMessage) {
  <div class="error-message">
    {{ errorMessage }}
  </div>
  }

  <a routerLink="/auth/forgetpassword">Esqueceu sua senha?</a>

  <app-button button="Login"
              (clicked)="onLogin()"
              [disabled]="loading">
  </app-button>
</div>
