<h2 mat-dialog-title>Editar Agendamento</h2>
<mat-dialog-content>
  <form class="dialog-form">
        <app-input class="full-width" label="Nome do Aluno" [type]="'text'" placeholder="Nome completo" [value]="alunoNome" (valueChange)="alunoNome = $event"></app-input>

    <app-input class="full-width" label="Psicólogo" [type]="'text'" placeholder="Nome do psicólogo" [value]="psicologoNome" (valueChange)="psicologoNome = $event"></app-input>

    <div class="row-2">
      <app-input class="flex-1" label="Data" [type]="'text'" placeholder="dd/mm/aaaa" [value]="data" (valueChange)="data = $event"></app-input>
      <app-input class="flex-1" label="Hora" [type]="'text'" placeholder="hh:mm" [value]="hora" (valueChange)="hora = $event"></app-input>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
