.home-page {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 20px;
  max-width: 600px;
}
