.editar-psicologo-container {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #004f9f;
    font-size: 24px;
    font-weight: 600;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    table-layout: fixed;
  }

  .mat-mdc-header-cell {
    background-color: #004f9f;
    color: white;
    font-weight: 600;
  }

  .mat-mdc-cell {
    padding: 8px 6px;
  }

  mat-paginator {
    margin-top: 20px;
  }

  // Estilos para cabeçalhos de sorting
  .mat-mdc-header-cell {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .mat-sort-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mat-sort-header-arrow {
    color: white;
  }

  // Estilos para o campo de filtro
  .table-input-seach {
    display: flex;
    margin-bottom: 20px;

    .material-symbols-outlined {
      font-weight: 900;
    }
  }

  // Estilos para botões de ação
  .action-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
}
