html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root{
  --primary-color-extreme-strong: #062D56;
  --primary-color: #004F9F;
  --primary-color-light: #52A8FF;
  --primary-color-extreme-light: #ADCEEF;
  --secondary-color: #FF6F3D;
  --secondary-color-strong: #c94d23;
  --secondary-color-light:#fc9d7d;
}

