<h2 mat-dialog-title>Editar Psicólogo</h2>
<mat-dialog-content>
  <form class="dialog-form">
    <app-input class="full-width" label="Nome do Psicólogo" [type]="'text'" placeholder="Nome completo" [value]="nome" (valueChange)="nome = $event"></app-input>

    <app-input class="full-width" label="Email" [type]="'email'" placeholder="email@exemplo.com" [value]="email" (valueChange)="email = $event"></app-input>

    <app-input class="full-width" label="CRP" [type]="'text'" placeholder="Ex: 06/123456 ou 06-123456" [value]="crp" (valueChange)="crp = $event"></app-input>

    <app-input class="full-width" label="Especialidade" [type]="'text'" placeholder="Ex: Psicologia Clínica" [value]="especialidade" (valueChange)="especialidade = $event"></app-input>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
